name: Build and Deploy to Docker Hub

on:
  push:
    branches: [main]

env:
  DOCKER_IMAGE: kwame42/mon-app
  IMAGE_TAG: latest


jobs:
  build-and-push:
    environment: CI/CD
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ env.IMAGE_TAG }}
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            /usr/local/bin/deploy.sh ${{ env.DOCKER_IMAGE }}:${{ env.IMAGE_TAG }}
